<ion-menu contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Contenido de prueba</ion-content>
</ion-menu>

<div class="ion-page" id="main">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-form-ticket></app-form-ticket>
  <br>
  <app-compra-ticket></app-compra-ticket>
</div>