<ion-grid>
    <ion-row>
        <ion-col offset-md="2" size-md="8" size="12">
            <h2>Ingrese su producto</h2>
        </ion-col>
    </ion-row>

    <ion-row>
		<ion-col size="12">
			<ion-item>
				<ion-input label="Producto:" type="text" [(ngModel)]="articulo"></ion-input>
                <p>Descripcion:{{articulo}}</p>
			</ion-item> 
		</ion-col>
	</ion-row>

	<ion-row>
		<ion-col size="12">
			<ion-item>
				<ion-input label="Precio:" type="text" aria-placeholder="10.0" [(ngModel)]="monto"></ion-input>
			</ion-item>
		</ion-col>
	</ion-row>

    <ion-row>
        <ion-col size = "2">
            <ion-button color = "light" (click)="agregarAticket(articulo,monto)">Añadir producto</ion-button>
        </ion-col>
    </ion-row>
    
</ion-grid>

<ion-row class="ion-justify-content-center">
    <ion-col size="10">
        <ion-item>
            <ion-label class="ion-text-center"> Su ticket de compra </ion-label>
        </ion-item>
        <app-compra-ticket [articulosArreglo]="articulosArreglo"></app-compra-ticket>
    </ion-col>
</ion-row>