<div id="ticket">
  <h2>Ticket de Compra</h2>

  <div class="fila">
    <label>Articulo: </label>
    <input id="articulo" />
    <br><br>
  </div>

  <div class="fila">
    <label>Precio: </label>
    <input id="precio" type="number" />
    <br><br>
  </div>

  <ion-button onclick="agregarAticket()">Calcular total</ion-button>
  <ion-button onclick="presentaAlerta()">Ver alerta</ion-button>

  <div id="ticketCompra">
    <p>========TICKET DE COMPRA=======</p>
    <p id="total">Total: $</p>
  </div>
</div>


<div id="contenido">
  <!--Contenido aqui-->
</div>